<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Prog Web II", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated) {
                    <li>@Html.ActionLink(Wiki.Ressources.Shared.Menu.Profile, "Profil", "Utilisateurs")  <text>&nbsp; &nbsp;</text></li>
                    <li>@Html.ActionLink(Wiki.Ressources.Shared.Menu.SignOut, "Deconnexion", "Utilisateurs")</li>
                }
                else {
                    <li>@Html.ActionLink(Wiki.Ressources.Shared.Menu.SignUp, "Inscription", "Utilisateurs")   <text>&nbsp; &nbsp;</text></li>
                    <li>@Html.ActionLink(Wiki.Ressources.Shared.Menu.SignIn, "Connexion", "Utilisateurs")</li>
                }

                <li>@Html.ActionLink(Wiki.Ressources.Shared.Menu.LanguageEn, ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { lang = "en" ,titre= ViewBag.article}, null)</li>
                <li>@Html.ActionLink(Wiki.Ressources.Shared.Menu.LanguageFr, ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { lang = "fr", titre = ViewBag.article }, null)</li>
                <li>@Html.ActionLink(Wiki.Ressources.Shared.Menu.LanguageEs, ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { lang = "es", titre = ViewBag.article }, null)</li>
            </ul>

        </div>
    </div>
</div>

