@model Wiki.Models.Biz.Article

@{
    ViewBag.Title = "Ajouter";
}

<div class="view-position">
    <h2>Ajouter</h2>
    <p style="color:red;"> @ViewBag.Exist </p>
    @using (Html.BeginForm("Ajouter", "Home", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Titre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titre, new { htmlAttributes = new {@Value=ViewBag.Ajout, @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Contenu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Contenu, new { cols = 15, rows = 10, @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Contenu, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-info" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="Aperçu" name="apercu" class="btn btn-info" />&ensp;&ensp;&ensp;&ensp;
                @Html.ActionLink("Annuler", "Index", "Home")
            </div>
        </div>
    }    
    <br /><br /><br />
    <div class="apercu">
        @Html.Raw(ViewBag.Contenu)
    </div>

</div>