@using Wiki.Resources.Views
@using Wiki.Resources.Models
@model Wiki.Models.Biz.Article

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.Status == "null")
{
    <center><h2>@StringsShared.Bienvenue</h2></center>
    <hr>

    <p>
        @StringsShared.Intro
    </p>

    <form action="/Home/index" method="get">
        <label for="txtNomArticle">@StringsShared.FormRechercher</label>
        <input type="text" name="id" id="id" />
        <input type="submit" value="@StringsShared.FormSubmit" />
    </form>
}

@if (ViewBag.Status == "found")
{
    <h2>@Html.DisplayFor(model => model.Titre)</h2>
    <hr />


    <p>@StringsShared.LabelTitre : <br />@Html.DisplayFor(model => model.Titre)</p>
    <br />
    <p>@StringsShared.LabelContenu : <br />@Html.Raw(Model.Contenu)</p>
    <br />
    <p>@StringsShared.LabelDateModification :<br /> @Html.DisplayFor(model => @model.DateModification)</p>
    <br />
    <p>@StringsShared.LabelRevision : <br />@Html.DisplayFor(model => model.Revision)</p>
    <br />
    <p>@StringsShared.LabelContributeur : <br />@Html.DisplayFor(model => model.IdContributeur)</p>

    <hr />
    if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink(@StringsShared.LienModifier, "Edit", "Home", new { id = Model.Titre }, new { @class = "classname" })
        <text>&nbsp; &nbsp;</text>
        @Html.ActionLink(@StringsShared.LienEffacer, "Delete", "Home", new { id = Model.Titre }, new { @class = "classname" })
    }
    else
    {
        @Html.ActionLink(@StringsShared.LienConnexion, "Connexion", "Utilisateurs")

    }
    <text>&nbsp; &nbsp;</text>
    @Html.ActionLink(@StringsShared.LienAccueil, "Index", "Home", new { id = "" }, null)


}


@if (ViewBag.Status == "else")
{
    <h2>@StringsShared.ArticleInexistant</h2>

    if (User.Identity.IsAuthenticated)
    {
        <p>@StringsShared.ArticleCreer</p>
    }

    <br />


    if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink(@StringsShared.LienCreer, "Create", "Home", new { id = Model.Titre }, new { @class = "classname" })
    }
    else
    {
        @Html.ActionLink(@StringsShared.ConnexionCompte, "Create", "Home", new { id = Model.Titre }, new { @class = "classname" })
    }
    <text>&nbsp; &nbsp;</text>
    @Html.ActionLink(@StringsShared.LienAccueil, "Index", "Home", new { id = "" }, null)



}