@model Wiki.Models.Biz.Article

@{
    ViewBag.Title = "Modifier";
}

<div class="view-position">
    @using (Html.BeginForm(FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Modifier</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Titre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Contenu, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Contenu, new { cols = 10, rows = 10, @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Contenu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="Enregistrer" value="Enregistrer" formaction="Modifier" class="btn btn-info" />&ensp;&ensp;&ensp;&ensp;
                    <input type="submit" name="supprimer" value="Supprimer" class="btn btn-info"/>&ensp;&ensp;&ensp;&ensp;;&ensp;&ensp;
                    <input type="submit" name="apercu" value="Aperçu" class="btn btn-info" />&ensp;&ensp;&ensp;&ensp;;&ensp;&ensp;
                    @Html.ActionLink("Annuler", "Display", "Home", new { titre = Model.Titre }, null)
                </div>
            </div>
        </div>
    }
    <br />
    <div class="apercu">
        @Html.Raw(ViewBag.Contenu)
    </div>
</div>
